* {font-family: 'Exo', sans-serif;}

body {
  background-color:#FFB900;
}

body, html {
	height: 100%;
}

h1 {
  left-margin:auto;
  right-margin:auto;
  text-align:center;
}

div{border-radius: 10px;}

#nav{
	overflow: hidden;
	background-color:#22971D;
	position: relative;
	top:0;
}
ul{
	list-style-type: none;
}
li{
	float: left;
	margin: 0 5px 15px;
}
li a{
	display: block;
	color: white;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 14px 16px;
	text-decoration: none;
	transition-duration: 0.4s;
	border-radius: 6px;
}
li a:hover{
	background-color:lightblue;
}

#title{color:white}

.sometext{
  padding:25px;
  margin:auto;
  font-size: 18px;
}

.para {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

#para0 {background-image: url("..\\//thumbs.jpg");height: 80%;background-position: 85% 0;}
#para1 {background-image: url("..\\//smile.jpg");height: 60%;}

#what {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("..\\//logo.png"), url("..\\//what.jpg");
  background-size: 200px, cover;
  background-position: 30% 50%, top left;
  height: 100%;
}

input[type=text], input[type=email], select, textarea {
  width: -webkit-fill-available;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #22971D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  float: right;
  border-radius: 10px;
}

input[type=submit]:hover {
  background-color: lightblue;
}

.contactform {
  border-radius: 10px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
	
  .para {
	background-attachment: unset;
	background-size: 110%;
	background-position: center;
  }

  #what {
    background-attachment: unset;
    background-repeat: no-repeat;
    background-image: url("logo.png"), url("what.jpg");
    background-size: 200px, unset;
    background-position: 30% 50%, 50%;
    height: 100%;
  }
}
